.cabecalho{
    background-color: black;
    
    
}

.titulo-principal {
    color: white;
    text-align: center;
}

.descricao-titulo {
    color: white;
    text-align: center;
}

.imagem-principal {
    height: 100px;
    width: 500px;
}