.conteudo {
    text-align: center;

}

.imagem-principal {
     width: 95%;
    height: 450px;
    padding: 30px;
    margin: 0 auto;
}

.cabecalho {
    background-color: rgb(169, 147, 88);
    width: 120%;
    height: 606px;
    margin: 0 auto;
}


